- license_key = params[:trial_key]
#modal-upload-trial-license.modal-upload-trial-license.modal.fade.in{ tabindex: -1, role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span &times;
        .modal-body-contents
          .trial-activated-graphic.gl-mt-5
            = custom_icon('ee_trial_license_activated', size: 100)
          %h3.confirmation-title
            Your trial license was issued!
          %p.confirmation-desc.lead
            Your trial license was issued and activated. Install it
            to enjoy GitLab Ultimate for 30 days.
          = form_for License.new, url: admin_license_path, html: { multipart: true, class: 'fieldset-form' } do |f|
            = f.hidden_field :data, value: license_key
            %a#hide-license.hide-license{ href: '#hide-license' }
              Show license key
              = sprite_icon('chevron-down')
            %a#show-license.show-license{ href: '#show-license' }
              Hide license key
              = sprite_icon('chevron-up')
            .card.trial-license-preview.gl-mt-5
              = license_key
            .modal-footer.form-actions
              %button.btn.gl-button.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel
              = f.submit 'Install license', class: 'gl-button btn btn-primary'
